/*Tag Selectors*/
body{
    /* #364F6B #3FC1C9 #F5F5F5 #FC5185*/
    margin: 0px;
    /* background-color: #F5F5F5; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Can embed fonts : fonts.google.com */
    /* font-size: 100% (dynamic) = 1em (dynamic) = 16px (static) */
    /* font-size: for dynamic sizes, it'll inherit from parent. Eg. if body has 2em, and h1 has 4em, the h1 = 8em*/
    /* font-size: (Preferred)   if you don't want to inherit from parent. Use rem(root em). eg. 5.625rem */
}

h1{
    color: #364F6B;
}

h3{
    color: #364F6B;
    width: fit-content;
    margin: auto;
    text-align: center;
}

hr{
    clear: both;
    border-color: grey;
    border-width: 6px;
    border-style: dotted none none none;
    width: 8%;
    margin: 50px auto;
}

/*Class Selectors - a html element can have multiple classes*/
/*Class Selectors - Recommended instead of Id selectors*/
/*Class Selectors - also accept pseudo class eg. img:hover */


.divHeader{
     background-color: white;
     padding-bottom: 50px;
}

.divHeader-img{
    height: 250px;
    width: 100%;
    object-fit: scale-down;

}

.divHeader-centeredtext{
    margin-top: 0px;
    text-align: center;
    /* width: 80%; */
    /* margin: 0px; */
    /* position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.divMain{
    width:80%;
    margin: 0px auto;
}

.imgMotherTeresaQuote{
    width: 30%;
    float: left;
    margin: 30px;
}

.pMotherTeresaQuote{
    display: inline-block;
    width: 50%; 
    font-family: 'Amita', cursive;
    font-weight: bold;
    /* margin-top: 8vw; */
    margin: 8vw auto 0;
    font-size: 2vw;
}

.pMotherTeresaName{
    display: inline-block;
    font-family: 'Amita', cursive;
    font-weight: bold;
    font-size: 1vw;
    width: 50%;
    text-align: right;
    /* width: 50%; */
}

.divMain-profilephoto{
    /* height: 150px; */
    display: block;
    width: 25%; 
    margin: 0 auto;
}

.divMain-personalquote{
    clear: left;
    text-align: center;
}

.pPersonalquote{
    display: inline-block;
    width: 70%;
    text-align: left;
}


.divMain-orderedlist{
    width: fit-content;
    margin: auto;
}

.divMain-unorderedlist{
    width: fit-content;
    margin: auto;
}

.divMain-divhobbies{
    margin: 0 auto 100px;
}

.divMain-divhobbies-imgPhoto{
    float: right;
    width: 30%;
    margin: auto 10% auto 15%;
}
.divMain-divhobbies-divText
{
    text-align: right;
}

.divMain-divhobbies-divText-h3Text
{
    display: inline-block;
    margin: 5% auto auto;
}
.divMain-divhobbies-divText-pText{
    font-size: 0.8em;
    margin: 5px auto 0;
}

.container-footer{
    height: 100px;
    background-color: #FC5185;
}

.h1_name{
    font-size: 4rem;
    width: 100%;
    margin: auto;
    font-family: 'Sacramento', cursive;
}

.h3_description{
    font-size: 1.25rem;
    width: 90%;
    margin: auto;
}

.span_fullstack{
    text-decoration: underline;
}

.classTable{
    border-style: dotted;
    display: block;
    margin: auto;
    width : 50%;
}

.classTable:hover{
    border-style: solid;
}

.imgfarm{
    width: 10px; 
    height: 10px; 
    object-fit: contain;
}

/*Id Selectors  - must be unique in entire page - more precedence than class tag*/

#myBiglink{
    font-size: larger;
}