/*Tag Selectors*/
body{
    background-color: #E8F0F2;
}

h1{
    color: #053742;
}

h3{
    color: #39A2DB;
}

hr{
    border-color: grey;
    border-width: 6px;
    border-style: dotted none none none;
    width: 8%;
}

/*Class Selectors*/

.classTable{
    border-style: dotted;
}


/*Id Selectors  - must be unique in entire page - more precedence than class tag*/

#myBiglink{
    font-size: larger;
}