body{
    margin: 0;
}
h2  {
    text-align: center;
    background-color: black;
    color: white;
}
.img_50percent{
    width: 25%;
    margin-right: 2%;
    float: left;
}

.bggreen{
    background-color: green;
}

.bgred{
    background-color: red;
}

.bgyellow{
    background-color: yellow;
}

.bgblue{
    background-color: blue;
}

.bgpurple{
    background-color: purple;
}

.bgwhite{
    background-color: white;
}

.divInlineBlock {
    display: inline-block;
    margin: 0;
    margin-right: -4px;
    width: 50%;
}

.divRow{
    display: flex;
}

.divCol{
    flex: 1;
    display: flex;
    align-items: center;
}

.span_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.divHeader { grid-area: header; }
.divMenu { grid-area: menu; }
.divMain { grid-area: main; }
.divRight { grid-area: right; }
.divFooter { grid-area: footer; }

.grid-container {
    display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
}

.divFlex{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}