body{
    margin: 0;
}
h2  {
    text-align: center;
    background-color: black;
    color: white;
}
.img_50percent{
    width: 25%;
    margin-right: 2%;
    float: left;
}

.bggreen{
    background-color: green;
}

.bgred{
    background-color: red;
}

.bgyellow{
    background-color: yellow;
}

.bgwhite{
    background-color: white;
}

.divInlineBlock {
    display: inline-block;
    margin: 0;
    margin-right: -4px;
    width: 50%;
}

.divRow{
    display: flex;
}

.divCol{
    flex: 1;
    display: flex;
    align-items: center;
}

.span_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.divBlackBar{
    clear: both;
    background-color: black;
}

.divGridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 0px;
}

.row1-col1{
    grid-row: 1/1;
    grid-column: 1/1;
    margin: auto;
}

.row1-col2{
    grid-row: 1 / span 1;
    grid-column: 2/2;
    margin: auto;
}

.row1-col3{
    grid-row: 1 / span 1;
    grid-column: 3/ span 1;
    margin: auto;
}

.divFlex{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}